header 
{
    overflow: hidden;
    position: fixed;
    background-color: #333;
    color: white;
    font-size: 20px;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 15%;
    align-items: center;
    border-color: white;
    border: 5px;
    padding: 10px;
}

select
{
    border-radius: 6px;
    background-color: darkslategray;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    border-color: transparent;
}

#msg
{
	margin: 150px 500px;
	padding: 20px 20px;
	font-size: 30px;
	height: auto;
	font-color: white;
	background-color: lime;
	position: fixed;
	display: none;
	z-index:14;
	border-radius: 6px;
}


header ul
{
    background-color: #333;
    list-style-type: none;
    border-bottom: 10px;
    margin-bottom: 5px;
    border-color: white;
}

header ul li
{
    display: inline;
    padding: 25px;
}

button
{
    border-radius: 6px;
    background-color: darkslategray;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    border-color: transparent;
}

#search
{
    width: 370px;
}

input
{
    border-radius: 6px;
    height: 25px;

}



.closebutton
{
    float: right;
    height: 10px;
    width: 20px;
}

a
{
    color: white;
    text-decoration: none;
     cursor: pointer;
}

a.visited
{
    color: white;
    text-decoration: none;
     cursor: pointer;
}

#msg
{
	margin: 150px 500px;
	padding: 20px 20px;
	font-size: 30px;
	height: auto;
	font-color: white;
	background-color: lime;
	position: fixed;
	display: none;
	z-index:14;
	border-radius: 6px;
}

#products
{
    background-color: yellowgreen;
    padding: auto auto;
    margin: 120px 90px;
    top: 300px;
    height: auto;
    width: auto;
    bottom: 0px;
    left: 10px;
    right: 10px;
    color: white;
    display: block;
    font-size: 15px;
}

.prod 
{
    height: 220px;
    width: 200px;
    padding: 20px 20px;
    margin: 20px;
    float: left;
    display: block;
    background-color: yellowgreen;
    border-radius: 6px;
}

.prod img
{
	height: 100px;
	width: 100px;
}

.prod button
{
	padding: 2px 2px;
	border-radius: 6px;
	font-size: 15px;
	margin:1px;
}
.prod select
{
	padding: 2px 2px;
	border-radius: 6px;
	font-size: 15px;
	margin:1px;
}

#prodinfocus
{
    border-radius: 6px;
    height: 350px;
    width: 500px;
    top: 10%;
    left: 30%;
    right: 25%;
    display: none;
    background-color: #333;
    color: white;
    z-index: 9;
    position: fixed;
    padding: 1px;
    margin: 1px;
}

#productinfocus
{
    border-radius: 6px;
    height: 350px;
    width: 500px;
    top: 10%;
    left: 30%;
    right: 25%;
    display: none;
    background-color: #333;
    color: white;
    z-index: 9;
    position: fixed;
    padding: 20px;
    margin: 55px 15px;
}

#prodinfocus img
{
    height: 80%;
    width: 80%;
}

.long
{
	height: 100px;
    width: 800px;
    padding: 20px 20px;
    float: left;
    display: block;
    background-color: yellowgreen;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 30px auto;
}

.long p
{
	float : right;
	padding-right: 20px;
	margin: 10px;
}

.long img
{
	float : right;
	padding-right: 20px;
	margin: 10px;
}

.long table
{
	cell-padding: 15%;
	cell-spacing: 15%;
}

.long button
{
	font-size: 15px;
	height: 50px;
	width: auto;
	margin: 10px;
}
.long div
{
	padding: 10px;
	margin: 10px;
}

.profile
{
	height: auto;
    width: auto;
    padding: 20px 20px;
    float: left;
    display: block;
    background-color: yellowgreen;
    border-radius: 6px;
    font-size: 25px;
    margin: 30px auto;
}

#ordernow
{
	float: right;
	left: 70%;
	position: fixed;
	right: 10%;
	top: 50%;
	bottom: 40%;
	display: none;	
	padding-top: 20px;
	padding-bottom: 40px;
	margin: 20px 20px;
}